.example-spacer {
  flex: 1 1 auto;
}

.mat-form-field {
  width: 100%;
}

table {
  width: 100%;
}

td,
th {
  width: 15.5%;
  margin: 0;
}

.main-body {
  padding-top: 20px;
  max-width: 1800px;
  margin: 0 auto;
}

.edit-button{
  float: right;
}